@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

.App {
  line-height: 1.7em;
  /*color: #7f8c8d;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Didact Gothic', sans-serif;;
}
body {

}
a {
  text-decoration: none;
  color: black;
}

/*-----Nav-----*/
.nav {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-header {

}
.nav-list {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  text-decoration: none;
  color: white;
}
.nav li {
  color: white;
  margin-right: 10px;
}

/*-----Main-----*/

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
.content {
  width: 60vw;
}
.content h3 {
  margin-bottom: 10px;
}
.name {
  display: flex;
  margin-bottom: 3vh;
  justify-content: center;
}
.statement {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  flex: 1;
  align-self: center;
  margin-top: 5vh;

}
.title h1 {
  margin-top: .5em;
  font-size: 3em;
  line-height: 1em;
}
.title h2 {
  margin-top: .2em;
  font-size: 1.5em;
}
.project-container {
  margin: 0 auto;
}
.projects {
  display: flex;
  width: 90vw;
  margin: 20px auto;
  margin-bottom: 10px;
  margin-top: 10px;

  justify-content: center;
  flex-wrap: wrap;
}
.project:hover {
  cursor: pointer;
}
.project-img {
  width: 150px;
  height: 150px;

}

/*-----About-----*/
.about-main {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
}
.about {
  flex: 1;
  margin: 0 auto;
  margin-top: 5vh;
}
.about h2 {
  margin-top: 18vh;
  margin-bottom: 5px;
}
.about-content {
  margin: 50px;
}
.headshot {
  flex: 1;
  margin-top: 19vh;
  width: 100%;

}
.profile-img {
  height: auto;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
}
.back {
  color: black;
  text-decoration: none;
}
/*-----Footer-----*/
footer {
  display: flex;
  text-align: center;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: center;
}
footer a {
  color: white;
}
.icon {
  margin: 18px 20px 10px 20px;
}
@media only screen and (min-width: 525px) {
  .break {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /*-----About-----*/
  .about-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
  .about {
    flex: 1;
    margin-top: 0;
  }
  .about h2 {
    margin-top: 0;
  }
  .headshot {
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 334px) {
  .title  {
    margin-top: 1em;
  }
  .break {
    display: inline-block;
  }
}
