@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

.App {
  line-height: 1.7em;
  /*color: #7f8c8d;*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Didact Gothic', sans-serif;;
}
body {
  color: #222324
}
a {
  text-decoration: none;
}

/*-----Nav-----*/
.nav {
  background: #222324;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 7vh;
}
.nav-header {

}
.nav-list {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav li {
  color: white;
  margin-right: 3vw;
  margin-top: 1vh;
}

/*-----Main-----*/
.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
}
.content {
  width: 60vw;
}
.content h3 {
  margin-bottom: 10px;
}
.name {
  display: flex;
  margin-bottom: 3vh;
  justify-content: center;
}
.statement {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  flex: 1;
  align-self: center;
  margin-top: 5vh;
}
.title h1 {
  margin-top: .5em;
  font-size: 3em;
  line-height: 1em;
}
.title h2 {
  margin-top: .2em;
  font-size: 1.5em;
}
.hr {
  width: 75vw;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

/*Project Container*/
.project-container {
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.flex {
  margin-top: 5vh;
  align-self: center;
  flex: 1;
}
.project {
  margin: 0 4px;
  /*flex-basis: calc(50% - 100px);*/
}
.projects {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.project:hover {
  cursor: pointer;
}
.project-img {
  width: 320px;
  height: 225px;
}
.project-gif {
  margin-bottom: 5vh;
}
.project-component {
  display: none;
}

/*Contact Form*/
.contact-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #353A7D;
  padding: 5vh;
  padding-top: 8vh;
}
#connect {
  font-size: 20px;
  margin-bottom: 3vh;
  color: #C0C0C7;
}
#email-invalid {
  color: white;
  display: none;
}
#gform {
  align-self: center;
  width: 50vw;
}
form-item {
  display: flex;
}
label {
  color: #C0C0C7;
}
input {
  padding: 3px;
  outline: none;
}
textarea {
  width: 250px;
  height: 75px;
}
.submit {
  background: #C0C0C7;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;;
  margin-top: 3vh;
  font-weight: bold;
}
.submit:hover {
  cursor: pointer;
  color: white;
  background: #222324;
  transition: .1s;
}

/*-----About-----*/
.about-main {
  display: flex;
  flex-direction: row;
  margin: 0 10vw;
  margin-bottom: 8vh;
  flex: 1;
}
.about {
  flex: 1;
  margin-left: 3vw;
  margin-top: 5vh;
}
.about h2 {
  margin-top: 3vh;
}
.about-content {
  flex: 1;
}
.headshot {
  flex: 1;
  width: 100%;
}
.profile-img {
  height: auto;
  width: 300px;
  border-radius: 5px;
  margin-top: 5vh;
}
.back {
  color: black;
  text-decoration: none;
}

/*-----Footer-----*/
footer {
  display: flex;
  text-align: center;
  height: 50px;
  background-color: #222324;
  color: white;
  justify-content: center;
}
footer a {
  color: white;
}
.icon {
  margin: 18px 20px 10px 20px;
}

@media only screen and (min-width: 1230px) {
  .projects {
    width: 60%;
  }
}
@media only screen and (min-width: 525px) {
  .break {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .projects {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 880px) {
  .projects {
    width: 100%;
  }
}
@media only screen and (max-width: 770px) {
  /*-----About-----*/
  .about-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
  .about {
    flex: 1;
    margin-top: 0;
  }
  .about h2 {
    margin-top: 0;
  }
  .headshot {
    margin-top: 5vh;
  }
  .projects {
    width: 100%;
  }
}
@media only screen and (max-width: 525px) {
  .projects {
    width: 100%;
  }
  .title {
    margin: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .title  {
    margin-top: 1em;
  }
  .project-img {
    width: 200px;
    height: 125px;
  }
  .projects {
    width: 100%;
  }
  .break {
    display: inline-block;
  }
  .profile-img {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .hr {
    margin: 0 auto;
  }
  .about-content {
    margin-bottom: 2vh;
  }
  #gform {
    width: 100%;
  }
  .headshot {
    margin: 0;
  }
}
